name: Test

on:
  push:
    branches: [main]
  pull_request:

jobs:
  test:
    strategy:
      matrix:
        go-version: [1.17.x]
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Install go
        uses: WillAbides/setup-go-faster@v1.5.0
        with:
          go-version: ${{ matrix.go-version }}

      - name: Check out code
        uses: actions/checkout@v2

      - name: Test
        run: go test -count 1 -bench . -benchtime 1x ./...

      - name: Race tests
        run: go test -race -count 1 -bench . -benchtime 1x ./...
